body
{
	font: 12px 'Arial';
}

a
{
	color: #5966DB;
}

h1
{
	font-size: 17px;
	margin: 20px 0 0 0;
	color: #5966DB;
	border-bottom: 1px solid #e0e0e0;
	white-space: nowrap;
}

h2
{
	font-size: 13px;
	margin: 25px 0 10px;
	color: #000;
	padding-left: 20px;
	background: url('images/bullet.gif') center left no-repeat;
	white-space: nowrap;
}

h3
{
	font-size: 13px;
	margin: 25px 0 10px;
	color: #000;
	text-decoration: underline;
	white-space: nowrap;
}

.figure
{
	text-align: left;
}

.figure img
{
	margin: 20px 10px 10px;
}

.figure p
{
	font: 11px arial;
	margin: 10px 10px 20px;
}

.external_link
{
	background: url('images/external_link.gif') center right no-repeat;
	padding-right: 15px;
}

.inline_code
{
	font: 12px 'Courier New';
	white-space: nowrap;
}

.code
{
	background-color: #e9e9e9;
	border: 1px dashed #c0c0c0;
	padding: 7px;
	margin: 10px;
	overflow: auto; 
}

.note
{
	background: #ffffff url('images/note.png') 9px center no-repeat;
	/*border: 3px solid #c0c0c0;*/
	padding: 20px 7px 20px 70px;
	margin: 10px;
}

#page_footer
{
	height: 60px;
	background: url('images/separator.png') center center no-repeat;	
}

div.article_image
{
	float: right;
	text-align: center;
	margin: 10px;
}

div.article_image img
{
	margin: 10px;
}

div.article_image span
{
	display: block;
	margin: 10px;
	font: 10px arial;
	text-align: center;
}

.see_also
{
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #e0e0e0;
}